---
const { title, companyName, companyDescription,companyLink, style, fromDate, toDate } = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-bold mb-2">{title} @ <a href={companyLink} class="font-bold mb-3" style={style}>{companyName}</a></h3>
    <h5 class="font-light mb-1">{companyDescription}</h5>
    <span class="font-light text-sm">From: {fromDate}</span>
    <span class="font-light text-sm"> - <b> {toDate}</b></span>
    <p class="my-2 text-justify"> <slot/> </p>
  </div>
</div>
